<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div class="container" ng-app="app">
        <div class="row">
            <div class="col col-sm-6">
                <div ng-form name="miForm">
                    <div class="form-group">
                        <label for="nInputPrueba">Nombre País (Entre 2 y 10 letras, Lista Negra: Europe):</label>

                        <!-- <input type="text" name="nInputPrueba" class="form-control" ng-model="mNumero"
                            ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}"
                            placeholder="Ingresa País" custom-validator> -->

                        <input type="text" name="nInputPrueba" class="form-control" ng-model="mNumero"
                            placeholder="Ingresa País" custom-validator>

                        <!-- <div ng-messages="miForm.nInputPrueba.$error">
                            <p ng-message="required">
                                Este campo es requerido
                            </p>
                            <p ng-message="pattern">
                                Debe escribir sólo letras
                            </p>
                            <p ng-message="patternMinLength">
                                Debe escribir más de 2 letras
                            </p>
                            <p ng-message="patternMaxLength">
                                Debe escribir menos de 10 letras
                            </p>
                            <p ng-message="black">
                                Lista negra
                            </p>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/source.js"></script>
</body>

</html>